In [1]:
## name : HW2_4.py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# from scipy.stats import norm, expon,gamma
# from HW2_class import Naive_bayes_data as nb
# using Naive Bayes

### load data ###############################################################################
developer_brand = "developer_brand.csv"
raw_dev_br = pd.read_csv(developer_brand)
name_dev_br = raw_dev_br.columns.values[0].split(";")
raw_dev_br = raw_dev_br[raw_dev_br.columns.values[0]].str.split(";",expand = True) 
raw_dev_br.columns = name_dev_br
print('raw_dev_br')
print(name_dev_br)
print('#######################################')

developer_main = "developer_main.csv"
raw_dev_main = pd.read_csv(developer_main)
name_dev_main = raw_dev_main.columns.values[0] #.split(";")
print('raw_dev_main')
print(name_dev_main)
print('#######################################')

district_province_id = "district_province_id.csv"
raw_dis_pro_id = pd.read_csv(district_province_id)
name_dis_pro_id = raw_dis_pro_id.columns.values[0].split(";")
raw_dis_pro_id = raw_dis_pro_id[raw_dis_pro_id.columns.values[0]].str.split(";",expand = True) 
raw_dis_pro_id.columns = name_dis_pro_id
print('raw_dis_pro_id')
print(name_dis_pro_id)
print('#######################################')

facility_id = "facility_id.csv"
raw_fac_id = pd.read_csv(facility_id) 
name_fac_id = raw_fac_id.columns.values[0].split(";")
raw_fac_id = raw_fac_id[raw_fac_id.columns.values[0]].str.split(";",expand = True) 
raw_fac_id.columns = name_fac_id
print('raw_fac_id')
print(name_fac_id)
print('#######################################')

#### don't know ###
# project_descrip = "project_description.csv"
# raw_proj_des = pd.read_csv(project_descrip)
# name_proj_des = raw_proj_des.columns.values[0] #.split(";")
# raw_fac_id = raw_fac_id[raw_fac_id.columns.values[0]].str.split(";",expand = True) 
# print('raw_proj_des')
# print(name_dev_br)
# print('#######################################')
###################

project_facility = "project_facility.csv"
raw_proj_fac = pd.read_csv(project_facility) 
name_proj_fac = raw_proj_fac.columns.values[0].split(";")
raw_proj_fac = raw_proj_fac[raw_proj_fac.columns.values[0]].str.split(";",expand = True) 
raw_proj_fac.columns = name_proj_fac
print('raw_proj_fac')
print(name_proj_fac)
print('#######################################')

project_main = "project_main.csv"
raw_proj_main = pd.read_csv(project_main)
name_proj_main = raw_proj_main.columns.values[0].split(";")
raw_proj_main = raw_proj_main[raw_proj_main.columns.values[0]].str.split(";",expand = True) 
raw_proj_main.columns = name_proj_main
print('raw_proj_main')
print(name_proj_main)
print('#######################################')

project_unit = "project_unit.csv"
raw_proj_unit = pd.read_csv(project_unit) 
name_proj_unit = raw_proj_unit.columns.values[0].split(";")
raw_proj_unit = raw_proj_unit[raw_proj_unit.columns.values[0]].str.split(";",expand = True) 
raw_proj_unit.columns = name_proj_unit
print('raw_proj_unit')
print(name_proj_unit)
print('#######################################')

unit_type_id = "unit_type_id.csv"
raw_unit_type_id = pd.read_csv(unit_type_id) 
name_unit_type_id = raw_unit_type_id.columns.values[0].split(";")
raw_unit_type_id = raw_unit_type_id[raw_unit_type_id.columns.values[0]].str.split(";",expand = True) 
raw_unit_type_id.columns = name_unit_type_id
print('raw_unit_type_id')
print(name_unit_type_id)
print('#######################################')

userLog = "userLog_201801_201802_for_participants.csv"
raw_userLog = pd.read_csv(userLog) 
name_userLog = raw_userLog.columns.values[0].split(";")
raw_userLog = raw_userLog[raw_userLog.columns.values[0]].str.split(";",expand = True) 
raw_userLog.columns = name_userLog
print('raw_userLog')
print(name_userLog)
print('#######################################')

###  we selected data only 'Bangkok'
# province_id == 10

raw_dev_br
['developer_id', 'brand_id', 'brand_name_th', 'brand_name_en']
#######################################
raw_dev_main
developer_id
#######################################
raw_dis_pro_id
['district_id', 'district_name_th', 'district_name_en', 'province_id', 'province_name_th', 'province_name_en']
#######################################
raw_fac_id
['facility_id', 'facility_name_th', 'facility_name_en']
#######################################
raw_proj_fac
['project_id', 'facility_id']
#######################################
raw_proj_main
['project_id', 'developer_id', 'brand_id', 'project_name_th', 'project_name_en', 'district_id', 'province_id', 'lat', 'lon', 'project_land_size_rai', 'project_land_size_ngan', 'project_land_size_wa', 'total_unit', 'percent_car_parking', 'starting_price', 'highest_price', 'project_status', 'created_at']
#######################################
raw_proj_unit
['project_id', 'unit_type_id', 'amount_bedroom', 'amount_bathroom', 'amount_car_parking', 'unit_starting_land_size', 'unit_highest_land_size', 'unit_functional_space_starting_size', 'unit_functional_space_highest_size', 'starting_price', 'highest_price', 'starting_price_per_area']
#######################################
raw_unit_type_id
['unit_type_id', 'unit_type_name_th', 'unit_type_name_en']
#######################################
raw_userLog
['userCode', 'project_id', 'requestedDevice', 'userAgent', 'pageReferrer', 'year', 'month', 'day', 'hour']
#######################################

In [2]:
#############################################################################################
#############################################################################################
#### don't know ###
# project_descrip = "project_description.csv"
# raw_proj_des = pd.read_csv(project_descrip, error_bad_lines=False)
# name_proj_des = raw_proj_des.columns.values.split(";")
# raw_fac_id = raw_fac_id[raw_fac_id.columns.values].str.split(";",expand = True) 
# raw_fac_id.columns = name_proj_des
# print('raw_proj_des')
# print(name_proj_des)
# print('#######################################')
###################

In [3]:
# print(raw_proj_des.dtypes)
# raw_proj_des.head()

In [4]:
print(raw_dev_br.dtypes)
raw_dev_br['developer_id'] = raw_dev_br['developer_id'].astype('int')
raw_dev_br['brand_id'] = raw_dev_br['brand_id'].astype('int')
raw_dev_br['brand_name_th'] = raw_dev_br['brand_name_th'].astype('str')
raw_dev_br['brand_name_en'] = raw_dev_br['brand_name_en'].astype('str')
print(raw_dev_br.dtypes)
raw_dev_br.head()

developer_id     object
brand_id         object
brand_name_th    object
brand_name_en    object
dtype: object
developer_id      int32
brand_id          int32
brand_name_th    object
brand_name_en    object
dtype: object

   developer_id  brand_id                      brand_name_th brand_name_en
0           128       379                        เอสต้า บลิซ
1           176      1496  บริษัท ชัยยุทธ เรียล เอสเตท จำกัด
2           226      1819           "อะพูล คอนโด แอท บางนา "
3           143      1567           คาซ่า ฟรานซ์ เอแบค-บางนา
4           250       436                           เลอ นีโอ

In [6]:
print(raw_dev_main.dtypes)
print(raw_dev_main['province_id'].isnull().sum())
raw_dev_main = raw_dev_main.dropna(subset=['province_id'])
raw_dev_main['province_id'] = raw_dev_main['province_id'].astype('int')
# raw_dev_main['district_id'] = raw_dev_main['district_id'].astype('int')
print(raw_dev_main['district_id'].isnull().sum())
raw_dev_main = raw_dev_main.loc[raw_dev_main['province_id'] == 10] 
# work
# 
# used_dev_main['province_id'] = used_dev_main['province_id'].apply(np.int64)
# raw_dev_main.drop(raw_dev_main.loc[raw_dev_main['province_id'].isnull()])
# print(raw_dev_main['province_id'].isnull().sum())
# raw_dev_main.head()
raw_dev_main.head()

developer_id           int64
developer_name_th     object
developer_name_en     object
description_th        object
district_id          float64
province_id            int32
developer_status      object
dtype: object
0
123

,developer_id,developer_name_th,developer_name_en,description_th,district_id,province_id,developer_status
3,572,บริษัท ลุมพินี พร็อพเพอร์ตี้ แมเนจเม้นท์ จำกัด,"Lumpini Property Management Co.,Ltd",บริษัทพัฒนาที่ดิน,1028.0,10,A
4,679,บริษัท ออพติโม พร็อพเพอร์ตี้ จำกัด,NaN,บริษัทพัฒนาที่ดิน,1044.0,10,A
6,492,บริษัท พี.พี.เอส พร็อพเพอร์ตี้ ดีเวลลอปเม้นท์ ...,NaN,NaN,1030.0,10,A
8,632,บริษัท เอกมัย แอสเซท จำกัด,NaN,บริษัทพัฒนาที่ดิน,1039.0,10,A
13,882,บริษัท เค.เอส.ที.อาร์ จำกัด,NaN,NaN,1033.0,10,A

In [7]:
raw_dev_main.describe()

        developer_id  district_id  province_id
count     709.000000   659.000000        709.0
mean    64949.418900  1026.028832         10.0
std     63852.726323    13.749852          0.0
min       143.000000  1001.000000         10.0
25%      9188.000000  1014.000000         10.0
50%     18582.000000  1029.000000         10.0
75%    139718.000000  1038.000000         10.0
max    141051.000000  1050.000000         10.0

In [15]:
print(raw_dis_pro_id.dtypes)
raw_dis_pro_id = raw_dis_pro_id.loc[raw_dis_pro_id['province_name_en'] == 'Bangkok']
raw_dis_pro_id['district_id'] = raw_dis_pro_id['district_id'].astype('int')
raw_dis_pro_id['province_id'] = raw_dis_pro_id['province_id'].astype('int')
raw_dis_pro_id.head()

district_id          int32
district_name_th    object
district_name_en    object
province_id          int32
province_name_th    object
province_name_en    object
dtype: object

,district_id,district_name_th,district_name_en,province_id,province_name_th,province_name_en
0,1001,พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok
1,1002,ดุสิต,Dusit,10,กรุงเทพมหานคร,Bangkok
2,1008,ป้อมปราบศัตรูพ่าย,Pom Prap Sattruphai,10,กรุงเทพมหานคร,Bangkok
3,1013,สัมพันธวงศ์,Samphanthawong,10,กรุงเทพมหานคร,Bangkok
4,1004,บางรัก,Bang Rak,10,กรุงเทพมหานคร,Bangkok

In [8]:
print(raw_fac_id.dtypes)
raw_fac_id.head()

  facility_id      facility_name_th facility_name_en
0           1            สระว่ายน้ำ    swimming_pool
1           2            คลับเฮ้าส์        clubhouse
2           3            สวนสาธารณะ             park
3           4                ฟิตเนส          fitness
4           5  ระบบรักษาความปลอดภัย  security_system

In [9]:
raw_fac_id.describe()

       facility_id facility_name_th facility_name_en
count            6                6                6
unique           6                6                6
top              5     สนามเด็กเล่น       playground
freq             1                1                1

In [ ]:
#### don't know ###
# project_description = "project_description.csv"
# raw_proj_des = pd.read_csv(project_description)
# name_proj_des = raw_proj_des.columns.values[0] #.split(";")
# raw_fac_id = raw_fac_id[raw_fac_id.columns.values[0]].str.split(";",expand = True) 
# print('raw_proj_des')
# print(name_dev_br)
# print('#######################################')
# raw_proj_des.head()
# raw_proj_des.describe()
###################

In [10]:
print(raw_proj_fac.dtypes)
raw_proj_fac.head()

  project_id facility_id
0          4           1
1          4           3
2          4           4
3          4           5
4         45           2

In [11]:
raw_proj_fac.describe()

       project_id facility_id
count       16070       16070
unique       5039           6
top          9035           5
freq            6        4738

In [19]:
print(raw_proj_main.dtypes)
print(raw_proj_main['province_id'].isnull().sum())
raw_proj_main['province_id'] = raw_proj_main['province_id'].astype('int')
# proj_id
raw_proj_main['project_id'] = raw_proj_main['project_id'].astype('int')
# dev_id
raw_proj_main['developer_id'] = raw_proj_main['developer_id'].astype('int')
# district_id
raw_proj_main = raw_proj_main.loc[raw_proj_main['province_id'] == 10]
raw_proj_main.head()

project_id                object
developer_id              object
brand_id                  object
project_name_th           object
project_name_en           object
district_id               object
province_id                int32
lat                       object
lon                       object
project_land_size_rai     object
project_land_size_ngan    object
project_land_size_wa      object
total_unit                object
percent_car_parking       object
starting_price            object
highest_price             object
project_status            object
created_at                object
project_id                 int32
dtype: object
0

,project_id,developer_id,brand_id,project_name_th,project_name_en,district_id,province_id,lat,lon,project_land_size_rai,project_land_size_ngan,project_land_size_wa,total_unit,percent_car_parking,starting_price,highest_price,project_status,created_at,project_id
0,44,140786,0,พาร์ควิลล์ 3,Parkville 3,1046,10,13.8917186,100.7220995,54,0,0,,,3500000.0,3862000.0,A,2011-01-14T18:40:12.117+0700,44
1,24,1032,0,สัมมากร นิมิตใหม่,Sammakorn Nimitmai,1046,10,13.8765900,100.7319273,154,3,89,,,4590000.0,,U,2011-02-24T21:43:59.297+0700,24
7,208,13323,,ลิฟวิ่งนารา รามคำแหง-สุวรรณภูมิ,LIVING NARA RAMKHAMHAENG-SUVARNABHUMI,1011,10,13.76981,100.72204,44,0,70,201,,3500000.0,7600000.0,U,2010-07-02T07:00:00.000+0700,208
8,228,6772,0,เค.ซี.รามอินทรา 5 (พระยาสุเรนทร์),K.C. RAMINTRA 5,1046,10,13.8626235000,100.6951353000,34,2,66,,,1810000.0,,U,2010-12-16T18:51:42.173+0700,228
11,982,12136,979,อนาวิลล์ สุวรรณภูมิ,Anaville Suvarnabhumi,1011,10,13.763347600000,100.803434300000,131,2,8,,,4300000.0,,A,2011-01-17T22:55:47.317+0700,982

In [13]:
raw_proj_main.describe()

       province_id
count       1775.0
mean          10.0
std            0.0
min           10.0
25%           10.0
50%           10.0
75%           10.0
max           10.0

In [15]:
raw_proj_unit.describe()

,project_id,unit_type_id,amount_bedroom,amount_bathroom,amount_car_parking,unit_starting_land_size,unit_highest_land_size,unit_functional_space_starting_size,unit_functional_space_highest_size,starting_price,highest_price,starting_price_per_area
count,13745,13745,13745,13745,13745,13745,13745,13745,13745,13745,13745,13745
unique,5379,6,11,13,13,496,228,2021,820,577,132,87
top,6531,3,3,2,,,,,,,,
freq,71,5429,4804,3574,6739,9762,12851,2832,11771,11804,13502,13646

In [16]:
print(raw_unit_type_id.dtypes)
raw_unit_type_id.head()

  unit_type_id unit_type_name_th    unit_type_name_en
0            1        บ้านเดี่ยว       Detached_House
1            2           บ้านแฝด  Semi_Detached_House
2            3      คอนโดมิเนียม          Condominium
3            4          ทาวน์โฮม             Townhome
4            5         โฮมออฟฟิส          Home_Office

In [18]:
print(raw_userLog.dtypes)
raw_userLog.head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
2,cb5b4b68-cc01-6db6-f54b-4a0f881301c5,5067,Mobile,iPhone,HomeWebsite,2018,1,1,0
3,5f74cef2-0d1e-b619-3564-0955a14e0985,6654,Mobile,iPhone,Google,2018,1,1,0
4,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018,1,1,0

In [19]:
raw_userLog.describe()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour
count,1234579,1234579,1234579,1234579,1234579,1234579,1234579,1234579,1234579
unique,482751,5395,2,6,4,1,2,31,24
top,de89bac5-57c6-ecfb-184d-cc4e973c31ac,5858,Mobile,Windows,Google,2018,1,22,15
freq,24308,7186,747784,415784,651633,1234579,706247,56354,86806