<a href="https://colab.research.google.com/github/Pataweepr/applyML_vistec_2019/blob/master/hw6_houseKeepingGene.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## naive_bayes [link text](https://scikit-learn.org/stable/modules/naive_bayes.html)

In [1]:
#@title
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

import pandas as pd

    100% |████████████████████████████████| 993kB 3.2MB/s
  Building wheel for PyDrive (setup.py) ... done

In [3]:
file_list = drive.ListFile({'q': "'1xKLYVIXVq0lXb9Ys_l3c5_v9S_kcv-xQ' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: code_and_pred.6872.1506176059.2623.zip, id: 1kA35oyisCxldVeeWxkAU7zjwy4rmQ1kU
title: hw2_2.6872.1506176611.9498.pdf, id: 1KJwdU3Lgxe5Z2GfcI95DNp48F8Gl19Ch
title: HW2_Housekeeping_Genes.final.pdf, id: 1GicvF61oLpx547LT_tM4FHX-C6DDQoMI
title: 12864_2006_660_MOESM1_ESM.csv, id: 1v7vyl4lTiMJA1eDjrC9w7tEZxzYBoK59
title: gene.ipynb, id: 13KZylyFQKi-grQtLWZSP7T8TK9_pWW53
title: out.csv, id: 1rSZQ24R9gWqlH1UrLm1zHbKMtQwdxPAP

In [6]:
data_downloaded = drive.CreateFile({'id': '1v7vyl4lTiMJA1eDjrC9w7tEZxzYBoK59' })
data_downloaded.GetContentFile('readCsvFile.csv')
raw_data = pd.read_csv('readCsvFile.csv')
raw_data.head(10)

,EMBL_transcript_id,cDNA_length,cds_length,exons_nr,5_MAR_presence,3_MAR_presence,5_polyA_18_presence,5_CCGNN_2_5_presence,perc_go_hk_match,perc_go_ts_match,is_hk
0,ENST00000274311,2918.0,1158.0,3.0,no,no,no,yes,0.1,0.200000,NaN
1,ENST00000282588,4795.0,3540.0,29.0,no,no,no,yes,0.1,0.200000,NaN
2,ENST00000274311,2918.0,1158.0,3.0,no,no,no,yes,0.1,0.200000,NaN
3,ENST00000282588,4795.0,3540.0,29.0,no,no,no,yes,0.1,0.200000,NaN
4,ENST00000337416,4551.0,1656.0,18.0,no,yes,no,no,0.0,0.111111,NaN
5,ENST00000282606,1245.0,597.0,NaN,no,no,no,no,0.0,0.000000,NaN
6,ENST00000282611,1338.0,1197.0,NaN,no,no,no,no,0.0,0.666667,NaN
7,ENST00000282633,2709.0,2709.0,NaN,no,no,no,no,NaN,NaN,NaN
8,ENST00000351071,3972.0,3411.0,NaN,no,no,no,no,NaN,NaN,NaN
9,ENST00000355876,4226.0,3669.0,NaN,no,no,no,no,NaN,NaN,NaN